.loginbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    max-height: 50vh;
    padding: 5vh 0 0;
    border: 2px solid #00809D;

}
.login h1{
    color: #00809D;
}
.loginbox input {
    width: 80%;
    height: 3vh;
    padding: 10px;
    margin: 2vh 2vw;
    border-radius: 10px;
    outline: none;
    border: none;
}
.loginbox input:focus{
    outline: none;
}
.loginbox button {
    margin: 4vh 4vw;
    width: 70%;
    background-color: #00809D;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}